<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<div class="container text-center ">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <h1><i class="fa-solid fa-bomb"></i></h1>
    <!-- <pre><%= error.stack %></pre> -->
</div>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>